{% extends "main.html" %}
{%load static%}
{%block extra_css%}
    <link rel="stylesheet" href="{%static 'product/product.css'%}"/>
{%endblock%}
{%block content%}
    <div class="main-content">
        <div class="content-header">
            <h2>Explore items</h2>
        </div>
        <div>
            <p style="margin-bottom:20px;">Viewing item</p>
            <input type="search" placeholder="search your product..." style="padding:5px 20px;border-radius:5px;border:none;display:block;margin-bottom:20px;border:1px solid gray;">
            <button class="btn">Popular</button>
            <button class="btn">Treding</button>
            <div class="contentofproducts">
                <div style="text-align:center;padding-bottom:30px;">
                    <h2>ICons</h2>
                <div>
                <div class="containerproducts">
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a>
                    <a href="{% url 'detailproduct' %}" class="link">
                        <div class="containerimage">
                            <img src="{% static 'images/IQ.jpg'%}" class="productimage"/>
                            <span>IQ image of brand</span>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    </div>
{%endblock%}