{%extends 'main.html'%}
{%load static%}
{%block extra_css%}
    <link rel="stylesheet" href="{%static 'user/user.css'%}"/>
{%endblock%}
{%block content%}
  <div class="main-content">
    <div style="display:flex;justify-content:space-evenly;align-items:center;">
        <div>
            <img src="{% static 'images/IQ.jpg'%}" class="itemphoto"/>
        </div>
        <div>
            <h3> Name : ALi</h3> 
            <h3> Last Name : jan</h3> 
            <h3> h3hone : 3423458792</h3> 
            <h3> Email: ali@gmail.com</h3> 
            <h3> Address : Kabul Afghaistan</h3> 
            <h3>city: Kabul</h3> 
            <h3> home number: 2th</h3> 
        </div>
    <div>

  </div>

{%endblock%}