.productimage{
    width:80px;
    height:80px;
    border-radius: 50%;
}

.main-content {
  padding: 20px 30px;
  flex: 1;
  background: #f8f9fa;
}

.containerimage{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.3rem;
    background-color: white;
    padding:20px;
    border-radius: 20px;
    transition: all 0.3s;
}
.containerimage:hover{
    color:black;
    transform: scale(1.04);
}
.btn{
    padding:5px 20px;
    background-color: #6b6fd5;
    color:white;
    border-color: #6b6fd5;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
}
.contentofproducts{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
}
.containerproducts{
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
}
.link{
    text-decoration: none;
    color:rgb(82, 81, 81);
}